.how-we-rate-container {
  /* outline: green solid 2px; */
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  grid-template-rows: 24vw 1.5vw;
  width: 60%;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  vertical-align: auto;
  justify-items: center;
}

.how-we-rate-photo1,
.how-we-rate-photo2,
.how-we-rate-photo3 {
  display: grid;
  width: 18vw;
  height: 18vw;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  /* margin: auto; */
  /* display: inline-block; */
  /* border: 2px solid red; */
}

.how-we-rate-photo1:hover,
.how-we-rate-photo2:hover,
.how-we-rate-photo3:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.how-we-rate-photo3 {
  background-size: 18vw;
  background-image: url("../../images/animals.png");
}
.how-we-rate-photo2 {
  background-image: url("../../images/people.png");
  background-size: 28vw;
}
.how-we-rate-photo1 {
  background-size: 25vw;
  background-image: url("../../images/planet.png");
  background-position: 50% 30%;
}

span.photo-Title {
  /* border: solid blue 3pt; */
  font-family: WorkSans-Light;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3vw;
  /* display: inline-block; */
  display: grid;
  text-align: center;
  width: auto;
}

.how-we-rate-header {
  /* border: solid blue 3pt; */
  margin-top: 30px;
  font-family: WorkSans-Light;
  font-weight: 600;
  font-style: normal;
  font-size: 3vw;
  display: inline-block;
  display: grid;
  text-align: center;
  width: auto;
}

@media (max-width: 768px) {
  .how-we-rate-container {
    /* outline: pink solid 2px; */
    width: 80%;
  }

  span.photo-Title {
    /* border: solid blue 3pt; */
    font-size: 9pt;
  }

  .how-we-rate-header {
    /* border: solid blue 3pt; */
    margin-top: 30px;
    font-family: WorkSans-Light;
    font-weight: 600;
    font-style: normal;
    font-size: 5vw;
    display: inline-block;
    display: grid;
    text-align: center;
    width: auto;
  }
}
