.site-intro-header {
  font-family: worksans;
  font-size: 28px;
  margin-top: 40px;
}

.site-intro-container {
  font-family: worksans;
  font-size: 18px;
  width: 85%;
  margin: auto;
  line-height: 24pt;
}

@media (max-width: 400px) {
  .site-intro-header {
    font-family: worksans;
    font-size: 16px;
    margin-top: 40px;
  }

  .site-intro-container {
    font-family: worksans;
    font-size: 10px;
    width: 85%;
    margin: auto;
    line-height: 16pt;
  }
}
