.createbrands-wrapper {
  /* border: red 1pt solid; */
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  font-family: "Work Sans", sans-serif;
  width: 500px;
  margin: auto;
  grid-gap: 10px;
}

h3 {
  /* border: blue 1pt solid; */
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.createbrands-black-button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 600;
  font-size: 10pt;
  width: 100%;
  margin: auto;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
}

.createbrands-wrapper label {
  /* border: blue 1pt solid; */
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  /* margin-top: 20px; */
}

.createbrands-wrapper input {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 0;
  display: inline-block;
  box-sizing: border-box;
  height: fit-content;
}
